@tailwind base;
@tailwind components;
@tailwind utilities;


@media (max-width:650px){
    .more_small {
        width: 50% ;
    }

}


@media (max-width: 600px) {
    .Slider_sliderContainer__3rN6X .Slider_slide__2Qa9f img {
      width: 100%;
      height: auto;
    }
  }
  
  